
html,body {
  width: 100%;
  height: 100%;
}


* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.lt_container {
  height: 100%;
  max-width: 640px;
  min-width: 320px;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding-top: 45px;
  padding-bottom: 55px;
}

/* 头部 */
.lt_header {
  height: 45px;
  width: 100%;
  top:0;
  position: absolute;
  background-color: #006699;
  line-height: 45px;
  padding: 0 45px;
}

.lt_header a {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 24px;
}
.lt_header .icon_left {
  left: 0;
}
.lt_header h3 {
  text-align: center;
  margin: 0;
  height: 45px;
  line-height: 45px;
  font-size: 20px;
  color: #fff;
}
.lt_header .icon_right {
  right:0
}

.lt_footer {
  height: 55px;
  width: 100%;
  position: absolute;
  background-color: #006699;
  bottom: 0;
}
.lt_footer  li {
  float: left;
  width: 25%;
  text-align: center;

}
.lt_footer  li a {
  display: block;
  height: 55px;
  color: #fff;
  padding-top: 10px;
}
.lt_footer  li a.current {
  color: orange
}
.lt_footer  li a p {
  color: #fff;
}
.lt_footer  li a.current p {
  color: orange;
}

.lt_main {
  position: relative;
  height: 100%;
  
}




.lt_product  ul {
  padding: 10px;
}
.lt_product li{
  width: 48%;
  float: left;
  text-align: center;
  margin-bottom: 10px;
}
.lt_product li:nth-child(2n) {
  float: right;
}
.lt_product li a {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
}
.lt_product li a img {
  width: 120px;
  height: 120px;
  margin: 0 auto
}
.lt_product li a p {
  height: 40px;
}
.lt_product li .price {
  color: red;
}
.lt_product li .oldPrice {
  text-decoration: line-through;
}



/* 搜索框 */
.lt_search {
  height: 54px;
  padding: 10px;
}
.lt_search  input{
  height: 34px;
  border-radius: 5px;
  border: none;
  border: 1px solid #007AFF;
  padding-right: 54px;
  margin: 0;
  
}
.lt_search button {
  height: 34px;
  width: 54px;
  position: absolute;
  top:10px;
  right: 10px;
  border-radius: 0 5px 5px 0;
}